@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
	font-family: 'PT Sans', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1,
p,
span {
	user-select: none;
}